services:
    app:
        build: .
        ports:
            - "3000:3000"
        environment:
            DATABASE_URL: postgres://postgres:postgres@db:5432/backend
        depends_on:
            db:
                condition: service_healthy

    db:
        image: postgres:18
        environment:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: postgres
            POSTGRES_DB: backend
        ports:
            - "5432:5432"
        volumes:
            - postgres_data:/var/lib/postgresql
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U postgres"]
            interval: 5s
            timeout: 5s
            retries: 5

volumes:
    postgres_data:
